alembic
starlette
asgi_lifespan
argon2_cffi
asyncio
asyncpg
bcrypt
loguru
black
colorama
email-validator
fastapi
greenlet
httpx
isort
loguru
mypy
passlib
pathlib
pre-commit
python-dotenv
python-decouple
python-jose
python-slugify
pytest
pytest-asyncio
pytest-cov
pytest-xdist
SQLAlchemy==2.0.20
psycopg2
pydantic-settings
pydantic
trio
uvicorn==0.21.1
openai==0.28.1
tiktoken
pgvector
cachetools
aiohttp